# üöÄ Advanced Functional Programming Exercises

## 1. üßÆ Calculate Total Age in Group

Given the following list of people, use `reduce` to calculate the total age of the group.

```python
people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "Diana", "age": 40}
]
```

In [9]:
from functools import reduce
people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "Diana", "age": 40}
]
total_age = reduce(lambda a, b: a + b["age"], people, 0)
print(total_age)

130

## 2. üîç Find the Oldest Person

Using the same `people` list from above, use `reduce` to find the person with the highest age.

In [13]:
people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "Diana", "age": 40}
]
highest_age = reduce(lambda a, b: max(a, b["age"]), people,0)
print(highest_age)

40

## 3. üî† Extract Unique Job Titles

Given the following list of employees, use `map` and `filter` to extract a list of unique job titles.

```python
employees = [
    {"name": "Alice", "job_title": "Engineer"},
    {"name": "Bob", "job_title": "Designer"},
    {"name": "Charlie", "job_title": "Engineer"},
    {"name": "Diana", "job_title": "Manager"},
    {"name": "Eve", "job_title": "Designer"}
]
```

In [3]:
employees = [
    {"name": "Alice", "job_title": "Engineer"},
    {"name": "Bob", "job_title": "Designer"},
    {"name": "Charlie", "job_title": "Engineer"},
    {"name": "Diana", "job_title": "Manager"},
    {"name": "Eve", "job_title": "Designer"}
]

unique_list = list(map(lambda a: a["job_title"], employees))

a = []
def unique_jobss(x):
    if x in a:
        return False
    a.append(x)
    return True

unique_jobs = list(filter(unique_jobss, unique_list))

print(unique_jobs)

['Engineer', 'Designer', 'Manager']

## 4. üóÇÔ∏è Filter and Group by Age Range

Using the `people` list, filter out those under 18, then group the remaining people by age range: 18-25, 26-35, 36-45.

In [ ]:
people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "Diana", "age": 40}
]
between_18_25 = list(filter( lambda x: 17 < x['age'] < 26 , people))
 
between_26_35 = list(filter( lambda x: 25 < x['age'] < 36 , people))
 
between_36_45 = list(filter( lambda x: 35 < x['age'] < 46 , people))
 
print("18-25\n", between_18_25)
print("26-35\n", between_26_35)
print("36-45\n", between_36_45)

## 5. üß© Merge and Count Job Titles

With the `employees` list, use `reduce` to create an object that counts how many people have each job title.

In [14]:
from functools import reduce
employees = [
    {"name": "Alice", "job_title": "Engineer"},
    {"name": "Bob", "job_title": "Designer"},
    {"name": "Charlie", "job_title": "Engineer"},
    {"name": "Diana", "job_title": "Manager"},
    {"name": "Eve", "job_title": "Designer"}
]

counter = reduce(lambda acc, employee: acc.update({employee["job_title"]:acc.get(employee["job_title"],0)+ 1}) or acc, employees, {} )
print (counter)

{'Engineer': 2, 'Designer': 2, 'Manager': 1}

## 6. üìä Calculate Average Salary

Using the following list of employees with salaries, use `reduce` to calculate the average salary. Exclude any employees with a salary below 50,000.

In [ ]:
salaries = [
    {"name": "Alice", "salary": 60000},
    {"name": "Bob", "salary": 45000},
    {"name": "Charlie", "salary": 70000},
    {"name": "Diana", "salary": 52000},
    {"name": "Eve", "salary": 48000}
]

high_salary = list(filter(lambda x: x["salary"] >= 50000,salaries))
print(high_salary)

avg_salary = reduce(lambda x, y: x.update({"total_salaries": x.get("total_salaries", 0) + y["salary"], "new_salary": x.get("new_salary", 0) + 1}) or x , high_salary, {})

[{'name': 'Alice', 'salary': 60000}, {'name': 'Charlie', 'salary': 70000}, {'name': 'Diana', 'salary': 52000}]

## 7. üå± Filter Active Accounts

Given the following list of user accounts, use `filter` to return only active accounts.

```python
accounts = [
    {"name": "Alice", "isActive": True},
    {"name": "Bob", "isActive": False},
    {"name": "Charlie", "isActive": True},
    {"name": "Diana", "isActive": False}
]
```

In [2]:
accounts = [
    {"name": "Alice", "isActive": True},
    {"name": "Bob", "isActive": False},
    {"name": "Charlie", "isActive": True},
    {"name": "Diana", "isActive": False}
]

active_accounts = list(filter(lambda account:account["isActive"], accounts))
print(active_accounts)

[{'name': 'Alice', 'isActive': True}, {'name': 'Charlie', 'isActive': True}]

## 8. üïπÔ∏è Generate Usernames

Write a function using `map` to generate usernames from the following list of names in the format `first letter of first name + last name`, all lowercase.

In [8]:
names = [
    {"first_name": "Alice", "last_name": "Johnson"},
    {"first_name": "Bob", "last_name": "Smith"},
    {"first_name": "Charlie", "last_name": "Brown"},
    {"first_name": "Diana", "last_name": "Williams"}
]

usernames = list(map(lambda name:name["first_name"][0].lower() +  name["last_name"].lower(), names))
print(usernames)

['ajohnson', 'bsmith', 'cbrown', 'dwilliams']

## 9. üìÖ Find Longest Employment Duration

Given the following list of employees with `hire_date` and `termination_date`, use `reduce` to find the employee with the longest duration of employment.

In [ ]:
from functools import reduce
from datetime import datetime, timedelta
employment = [
    {"name": "Alice", "hire_date": "2015-06-01", "termination_date": "2020-06-01"},
    {"name": "Bob", "hire_date": "2012-01-01", "termination_date": "2018-01-01"},
    {"name": "Charlie", "hire_date": "2017-09-01", "termination_date": "2022-09-01"},
    {"name": "Diana", "hire_date": "2013-05-01", "termination_date": "2019-05-01"}
]

longest_employee = ""
def longest_duration(acc, employee):
    date_1 = datetime.strptime(employee['hire_date'], '%Y-%m-%d')
    date_2 = datetime.strptime(employee['termination_date'], '%Y-%m-%d')
    difference = (date_2 - date_1).days
    if difference > acc:
        global longest_employee
        longest_employee = employee['name']
        return difference
    return acc
    
max_time = reduce(longest_duration, employment , -1)
print(longest_employee, max_time)

Bob 2192

## 10. üìç Sort Locations by Distance

Using the following list of locations with latitude and longitude, write a function that uses `map` to calculate distances from a reference point `(0, 0)`, then `sort` the list by distance in ascending order.

In [17]:
locations = [
    {"name": "Place A", "latitude": 34.05, "longitude": -118.25},
    {"name": "Place B", "latitude": 40.71, "longitude": -74.01},
    {"name": "Place C", "latitude": 51.51, "longitude": -0.13},
    {"name": "Place D", "latitude": 48.85, "longitude": 2.35}
]
import math
reference_point = (0,0)
def distance_2d(location):
    point2 = (0,0)
    point1 = (location["longitude"], location["latitude"])
    return math.sqrt((point2[0] - point1[0])**2 + (point2[1] - point1[1])**2)
distance_list = list(map(distance_2d, locations))
distance_list.sort()
print (distance_list)

[48.9064924115398, 51.51016404555513, 84.46765179641258, 123.05472359889319]

### Extra Challenge üí°

Combine multiple functional methods (e.g., `map`, `filter`, `reduce`) to process the following data structure, filtering active users, calculating the total age, and grouping by job title.

In [ ]:
extended_data = [
    {"name": "Alice", "age": 30, "job_title": "Engineer", "isActive": True},
    {"name": "Bob", "age": 25, "job_title": "Designer", "isActive": False},
    {"name": "Charlie", "age": 35, "job_title": "Engineer", "isActive": True},
    {"name": "Diana", "age": 40, "job_title": "Manager", "isActive": True},
    {"name": "Eve", "age": 28, "job_title": "Designer", "isActive": True}
]